.displayFlexTwoColumns {
    display: flex;
    flex-direction: row;
    height: 300px;

    > div:nth-child(1) {
        width: 70%;
    }

    > div:nth-child(2) {
        width: 30%;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
        }
    }
}