.searchForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-left: 64px;

    > div {
        display: flex;
        flex-direction: row;
        gap: 15px;
    
        select {
            max-width: 145px;
            height: 35px;
            align-self: flex-end;

            padding: 9px 0px 7px 5px;

            background-color: #0D0F11;
            color: #565656;

            outline: none;
            border: 1px solid #565656;
            border-radius: 2px;

            appearance: none;

        }

        .MuiSelect-icon {
            color: #fff;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                height: 35px;
                width: 500px;

                background-color: #0D0F11;
                color: #fff;

                padding: 0px 10px;

                outline: none;
                border: 1px solid #565656;
                border-radius: 2px;
            }

            label {
                color: #fff;

                padding-left: 10px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 13px;
            }
        }
    }
}

.tab__content .dopInfa {
    background-color: #060607;
    border-radius: 4px;

    width: 57%;

    margin-top: 30px;
    margin-left: 64px;
    padding: 10px 10px 10px 0;

    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;

    > div:nth-child(1) {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-left: 10px;
        cursor: pointer;
    } 
}