.dosiePage {
    background-image: url(./../../images/bg-image.png);
    background-color: #0D0F11;
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .central-bar {
        display: flex;
        flex-direction: column;
        // gap: 10px;

        width: 100%;
        height: 100%;
    }

    input {
        outline: none;
    }
}

.dosiePage .frames {
    width: 97%;
    height: 100%;

    margin: 0px auto;
    padding: 20px 10px 30px 10px;
    box-sizing: unset;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    > div {
        background: #0D0F11;

        overflow-y: scroll;

        border: 1px solid #9C9C9C;
        -webkit-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
        border-radius: 2px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 2px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(120, 120, 120); 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(69, 69, 69); 
    }
}